[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git://github.com/remiprev/vim-localrc.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = https://github.com/taq/vim-git-branch-info.git
