[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-todo"]
	path = bundle/vim-todo
	url = https://github.com/svenfuchs/vim-todo.git
[submodule "bundle/vim-layout"]
	path = bundle/vim-layout
	url = https://github.com/svenfuchs/vim-layout.git
